body {
    & > header {
        background-color: #fff;
        background-image: linear-gradient(#fff, #efefef);
        color: #333;
        box-shadow: 0 2px 3px #666;

        position: relative;


        h1 {
            font-family: 'Abril Fatface', cursive;
            font-size: 2.4rem;
            text-shadow: 1px 1px 1px #888;
            padding: .5rem 1rem;
            text-align: center;
        }
    }

    & > main {
        background-color: #DADBE8;

        display: flex;
        flex-flow: column nowrap;

        & > section {
            flex: 1 1 auto;
        }
        & > aside {
            flex: 0 1 20%;
        }
    }

    & > footer {
        font-size:1rem;
        padding: 1em;
        height: 50px;
        text-align: center;
        color : #fff;
        background-color: #333;

    }
}
